body {
    background-color: white;
}
/*------------nav-bar------------*/
.nav-wrapper {
    background-color: white;
}

.side-nav {
    background-color: #f9544c;
}

.side-nav a {
    font-size: 1.8em;
    color: white;
}

nav {
    box-shadow: none;
}

.material-icons.red600 {
    color: #fa655e;
    font-size: 2em;
}

.material-icons {
    padding-left: 12px;
}

.material-icons.red500 {
    color: #fa655e;
    font-size: 2.2em;
}

.my-info {
    float: right;
    padding-right: 18px;
}
/*------------list------------*/
.collection {
    border-top: none;
    margin: 0;
}

.collection a.collection-item {
    height: 95px;
    padding: 5px 5px 5px 5px;
}

.row {
    margin-bottom: 0px;
}

.row .col.s3 {
    padding: 0 0 0 6px;
}

.circle {
    width: 80px;
}

.drama_title {
    font-size: 1.125em;
    font-weight: bold;
    margin-top: 24px;
    color: black;
}

.drama_time {
    color: #b7adac;
    font-size: 0.75em;
}

span.badge {
    padding: 22px 0px;
}

span.badge.parNum {
    padding-top: 33px;
    padding-right: 2px;
    font-size: 17px;
    font-weight: bold;
    color: white;
}