html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background:black;
}
.phone-wrapper {
    width: 100%;
    height: 100%;
    max-width: 750px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
}
.phone-body {
    position: relative;
    min-height: 100%;
    width: 100%;
    background-image: url('../images/background2.png');
    background-color: white;
}
/*------------nav-bar------------*/
#nav-bar{
    top: 0; 
    position: fixed !important; 
    width:100%; 
    z-index: 1000000;
    max-width: 750px;
}
.nav-wrapper {
    background-color: #1e8adc;
}
nav {
    box-shadow: none;
    border-bottom: none;
    height: 51px;
}

.home {
    float: left;
    padding-left: 14px;
    margin-top: 5px;
    margin-right: 5px;
}
.nav-wrapper .nav-title {
    font-size: 20px;
}
.login {
    float: right;
    padding-right: 14px;
    margin-top: 5px
}
/*------------drama_list------------*/
