@font-face {
    font-family: 'NotoSansCJKkr-Regular';
    src: url('./fonts/NotoSansKR/NotoSansKR-Regular-Hestia.eot');
    src: url('./fonts/NotoSansKR/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'),
         url('./fonts/NotoSansKR/NotoSansKR-Regular-Hestia.woff') format('woff'),
         url('./fonts/NotoSansKR/NotoSansKR-Regular-Hestia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansCJKkr-Bold';
    src: url('./fonts/NotoSansKR/NotoSansKR-Bold-Hestia.eot');
    src: url('./fonts/NotoSansKR/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'),
         url('./fonts/NotoSansKR/NotoSansKR-Bold-Hestia.woff') format('woff'),
         url('./fonts/NotoSansKR/NotoSansKR-Bold-Hestia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background:black;
}
.phone-wrapper {
    width: 100%;
    height: 100%;
    max-width: 360px;
    margin: 0 auto;
    position: relative;
    min-height: 100%;
}
.phone-body {
    position: relative;
    min-height: 100%;
    width: 100%;
    background-color: white;
    display: table;
}
/*------------nav-bar------------*/
.back {
    float: left;
    padding-left: 14px;
    margin-top: 0px;
    margin-right: 5px;
}
.back img {
    width: 22px;
}

#nav-bar{
    top: 0; 
    position: fixed !important; 
    width:100%; 
    z-index: 1000000;
    max-width: 360px;
    color: black;
}
.nav-wrapper {
    background-color: white;
    color: black;
}
nav {
    box-shadow: none;
    border-bottom: #e5e5e5 1px solid;
    height: 47px;
    color: black;
}

nav .brand-logo {
    position: absolute;
    height: inherit;
    top: -5px;
    font-size: 17px;
    letter-spacing: -1px;
    color: black;
    font-family: NotoSansCJKkr-Bold;
}

.pwd_change {
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

/*------------form------------*/
#input_password,
#input_id,
#input_pwCheck {
    border-bottom: 1.9px solid #252525;;
    margin-bottom: 0px;
    height: 24px;
    text-indent: 60px;
}
.row .col {
    padding: 0;
}
.row {
    margin-bottom: 12px;
}
.input_title{
    position: absolute;
    font-size: 14px;
    font-family: NotoSansCJKkr-Bold;
    font-weight: bold;
    letter-spacing: -1px;
    color: #252525;
    top:2px;
}

input.validate#input_password, input.validate#input_pwCheck, input.validate#input_id {
    padding-bottom: 8px;
    font-family: NotoSansCJKkr-Regular;
}

input#input_password.validate,
input#input_pwCheck.validate,
input#input_id.validate {
    padding-bottom: 8px;
}

#button_change {
    background-color: white;
    color: #252525;
    border: 1px solid #252525;
    height: 46px;
    width: 100%;
    font-size: 14px;
    font-family: NotoSansCJKkr-Bold;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 5px;
    border-radius: 0;
    box-shadow: none;
    line-height: 46px;
}

#non-members, 
#id_find, 
#password_find {
    color: #252525;
    font-size: 13.7px;
    letter-spacing: -1px;
    font-family: NotoSansCJKkr;
}